<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
   
</head>

<body>
    <div>
        <img src="assets/ENSIAS.png"/>

        <h1></h1>
        

        <!-- Sign In Button -->
        <a [routerLink]="'login'" class="btn btn-signin">Sign In</a>

        <!-- Sign Up Button -->
        <a [routerLink]="'signup'" class="btn btn-signup">Sign Up</a>
    </div>
</body>

</html>
