body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, black, #411010);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  h2 {
    color: #f1dc94; 
    font-family: 'Arial', sans-serif;
    text-align: center; 
    text-transform: uppercase;
    border-bottom: 2px solid #010102; 
    padding-bottom: 5px; 
    font-size: 50px;
}

  form {
      height: 60%;
      width: 60%;
      background-color: #cacaca2d;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  label {
    display: block;
    margin-bottom: 8px;
  }

  input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  button {
    background-color: #580808;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
