<div style="width: 100%;  background: #000000; overflow: hidden; display: flex; align-items: center; justify-content: space-around;">

  <div style="width: 100%; height: 100%; background: #000000; overflow: hidden;"> 
    <img src="assets/ENSIAS.png" style="width: 14%;" />
  </div>

  <div style="width: 100%; height: 100%; justify-content: flex-start; align-items: flex-start; gap: 48px; display: inline-flex">
    <div style="color: white; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word" [routerLink]="'acceuil'">Home</div>
    <div style="color: white; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word" [routerLink]="'FilesSubmission'">Papers Submission</div>
    <div style="color: white; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">Notifications</div>
    <div style="color: white; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">Contact</div>
  </div>

</div>
